@font-face {
  font-family: 'Ma Shan Zheng';
  src: url('/fonts/mashanzheng.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zhi Mang Xing';
  src: url('/fonts/zhimangxing.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZCOOL XiaoWei';
  src: url('/fonts/zcoolxiaowei.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Long Cang';
  src: url('/fonts/longcang.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Liu Jian Mao Cao';
  src: url('/fonts/liujianmaocao.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
